VITE_API_URL=https://YOUR_BACKEND_URL
VITE_FIREBASE_API_KEY=AIzaSyBcWDWtX3uDKG-zm2bohlI7j_b-_1tqKgk
VITE_FIREBASE_AUTH_DOMAIN=visionmeet-75722.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=visionmeet-75722
VITE_FIREBASE_STORAGE_BUCKET=visionmeet-75722.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=498602969830
VITE_FIREBASE_APP_ID=1:498602969830:web:59cdaa412c234e38550927
VITE_FIREBASE_MEASUREMENT_ID=G-HH3C9BVXPS
